index.css or App.css

body.dark-mode {
  background-color: #1a202c; /* Dark background color */
  color: #f7fafc; /* Light text color */
}

body.dark-mode .bg-gray-900 {
  background-color: #1a202c;
}

body.dark-mode .bg-gray-800 {
  background-color: #2d3748;
}

body.dark-mode .bg-gray-700 {
  background-color: #4a5568;
}

body.dark-mode .text-white {
  color: #f7fafc;
}

body.dark-mode .text-gray-500 {
  color: #e2e8f0;
}
